.container {
  text-align: center;
  padding-top: 20px;
}

mat-card {
  position: absolute;
  top: 30%;
  left: 50%; transform: translate(-50%, 0);
  max-width: 500px;
}

.mat-form-field {
  margin: 0 1vw;
  padding-bottom: 20px;
}

button {
  margin: 0 1vw;
  min-width: 100px;
}
